:root {
  --azul: #0877f5;
  --bg-light: #efefef;
  --chumbo: #333;
  --vermelho: #c03333;
}


* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: var(--chumbo);
  border-bottom: 3px solid var(--vermelho);
  color: #fff;
  padding: 16px;
}

header #brand {
  display: inline-block;
}

header #brand img {
  filter: brightness(1) contrast(0);
  height: 40px;
  margin-right: 16px;
}

header #brand img,
header #brand div {
  display: inline-block;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
  margin: 8px;
}

header ul li a:hover {
  color: var(--vermelho);
}

.titulo-topico {
  color: var(--azul);
  font-size: 2.5rem;
  margin: 32px auto 8px;
  text-align: center;
}

.descricao-topico {
  font-size: 1.5rem;
  margin: 8px auto 24px;
  text-align: center;
}

#topo {
  background-color: var(--azul);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-image: url('../img/top-bg-image.jpg');
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}

#topo article {
  height: calc(100vh - 81px);
  padding: 240px 40px;
}

#topo article h1 {
  font-size: 3rem;
}

#topo article p {
  font-size: 2rem;
  margin: 24px auto 80px;
}

#topo article a.btn {
  background-color: var(--chumbo);
  font-size: 1.5rem;
  padding: 24px 32px;
}

#vantagens {
  padding: 96px 16px 16px;
}

#vantagens .vantagem {
  background-color: var(--azul);
  color: white;
  display: inline-block;
  margin: 24px 8px;
  height: 33vh;
  padding: 16px;
  text-align: center;
  vertical-align: middle;
  width: calc(33% - 13px);
}

#vantagens .vantagem h3 {
  font-size: 2rem;
}

#vantagens .vantagem p {
  font-size: 1.5rem;
}

#inscricao {
  background-color: var(--bg-light);
  padding: 96px 40px 40px;
}

#inscricao h3 {
  border: 1px solid var(--chumbo);
  border-radius: 8px;
  color: var(--chumbo);
  font-size: 3rem;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

#premios {
  padding: 96px 16px 16px;
}

#premios .premios-container {
  margin: auto;
  max-width: 100%;
  min-width: 50%;
  width: 63%;
}

#premios .premio {
  background-color: var(--bg-light);
  border: 2px solid var(--azul);
  border-radius: 50%;
  display: inline-block;
  height: 240px;
  margin: 24px;
  padding: 40px;
  text-align: center;
  width: 240px;
}

#premios .premio h3 {
  color: var(--azul);
  font-size: 2rem;
}

#premios .premio p {
  color: var(--chumbo);
  font-size: 1.2rem;
}

#regras {
  background-color: var(--azul);
  color: white;
  padding: 96px 16px;
}

#regras h2 {
  color: white;
}

#regras .regras {
  height: 120px;
  margin: 16px auto 32px;
  overflow-y: scroll;
  width: 75%;
}

#regras a.btn {
  background-color: var(--chumbo);
  display: block;
  margin: 16px auto;
  padding: 16px 24px;
  width: fit-content;
}

#regras a.btn:hover {
  background-color: var(--vermelho);
}

#contato {
  background-color: var(--bg-light);
  padding: 96px 40px 40px;
}

#contato h3 {
  border: 1px solid var(--chumbo);
  border-radius: 8px;
  color: var(--chumbo);
  font-size: 3rem;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}