:root {
  --azul: #0877f5;
  --chumbo: #333;
  --vermelho: #f50808;
}


* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: var(--chumbo);
  border-bottom: 3px solid var(--vermelho);
  color: #fff;
  padding: 16px;
}

header #brand {
  display: inline-block;
}

header #brand img {
  filter: brightness(1) contrast(0);
  height: 40px;
  margin-right: 16px;
}

header #brand img,
header #brand div {
  display: inline-block;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
  margin: 8px;
}

header ul li a:hover {
  color: var(--vermelho);
}

#topo {
  background-color: var(--azul);
  color: #fff;
  text-align: center;
}

#topo article {
  height: calc(100vh - 81px);
  padding: 240px 40px;
}

#topo article h1 {
  font-size: 3rem;
}

#topo article p {
  font-size: 2rem;
  margin: 24px auto 80px;
}

#topo article a.btn {
  background-color: var(--chumbo);
  font-size: 1.5rem;
  padding: 24px 32px;
}